[Unit]
Description=restic backup of $HOME
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
EnvironmentFile=%h/.config/restic/env
ExecStart=/usr/bin/restic backup %h --exclude-caches --exclude-file=%h/.config/restic/excludes --one-file-system
ExecStartPost=/usr/bin/restic forget --keep-daily 7 --keep-weekly 4 --keep-monthly 6 --prune
Nice=19
IOSchedulingClass=idle
